*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.plants-heading {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-weight: 700;
}


.plants-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}


.card {
  width: 350px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  padding: 20px;
  color: white;
  text-align: center;
  margin: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.plant-img {
  width: 260px;
  height: 260px;
  object-fit: contain;
  margin-bottom: 15px;
}


.plant-h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.plant-p {
  font-size: 15px;
  margin: 5px 0;
}

.parcel-btn{
  /* padding: 2px; */
  height: 30px;
  width: 30px;
  padding: 3px 5px;
  background-color: #2e372d;
  border: 1px solid white;
  border-radius: 5px;
}

.parcel-img{
  height: 20px;
  width: 20px;
  color: white;
}

.price-btn{
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 8px;
}



/* Responsive layout for mobile */
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
}
