*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
/* background-color: rgba(0, 0, 0, 0.9); */
background-color: black;

}

.review-img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.review-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding: 30px 15px;
  margin-top: 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  height: 220px;
  width: 400px;
 
}

.reviews-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
  color: white;
 
}

.review-top{
  display: flex;
  gap: 6px;
}

.review-name{
 padding-top: 4px;
}

.heading{
   color: white;
   text-align: center;
   padding-top: 40px;
   border: none;
}

@media screen and (max-width:576px){

   .review-card{
    width: 320px;
    padding: 20px;
  }

  .review-p{
    font-size: 14px;
    line-height: 1.3;
  }


}
  

/* best o2 container  */

.besto2-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  padding: 30px 30px;
  background: rgba(46, 55, 45, 0.35);
  width: 90%;
  margin: 50px auto;
  border-radius: 40px;
}

.besto2-plant-content{
  color: white;
  margin-top: 100px;
  height: 300px;
  width: 480px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
}


/* responsive  */

@media screen and (max-width: 576px) {

  .besto2-container {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
  }

  .rosegold-image {
    width: 260px;
    height: auto;
  }

  .besto2-plant-content {
    width: 90%;
    margin-top: 20px;
    height: auto;
    padding: 20px;
  }

  .besto2-plant-h2 {
    font-size: 20px;
    line-height: 1.3;
  }

  .besto2-content {
    font-size: 14px;
    line-height: 1.4;
  }
}


@media screen and (min-width: 576px) and (max-width: 768px) {

  .besto2-container {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 25px;
  }

  .rosegold-image {
    width: 300px;
    height: auto;
  }

  .besto2-plant-content {
    width: 85%;
    height: auto;
    margin-top: 20px;
    padding: 25px;
  }

  .besto2-plant-h2 {
    font-size: 22px;
  }

  .besto2-content {
    font-size: 15px;
  }
}



@media screen and (min-width: 768px) and (max-width: 992px) {

  .besto2-container {
    padding: 30px 20px;
    gap: 30px;
  }

  .rosegold-image {
    width: 340px;
    height: auto;
  }

  .besto2-plant-content {
    width: 60%;
    height: auto;
    padding: 30px;
  }
}



@media screen and (min-width: 992px) and (max-width: 1200px) {

  .besto2-container {
    padding: 40px;
    gap: 40px;
  }

  .rosegold-image {
    width: 400px;
    height: auto;
  }

  .besto2-plant-content {
    width: 45%;
    height: auto;
  }
}
